.orange {
  color: #B86800;
  background-color: #FFA200;
}
.blue {
  color: #007DA4;
  background-color: #87DAFF;
}
.purle {
  color: #9800A2;
  background-color: #E07CFE;
}
.green {
  color: #005B09;
  background-color: #00C280;
}
.red {
  color: #FFC400;
  background-color: #AB0000;
}
.grey {
  color: #5A5A5A;
  background-color: #A8A8A8;
}
.pink {
  color: #007DA4;
  background-color: #FFA5A5;
}
.white {
  color: #FFFFFF;
  background-color: #000000;
}
.black {
  color: #1D1D1D;
  background-color: #DEDEDE;
}
